@col1-sizer: 100%;
@col1-gutter: 0;
@col2-sizer: 47%;
@col2-gutter: 6%;
@col3-sizer: 30%;
@col3-gutter: 5%;
@col4-sizer: 24%;
@col4-gutter: 3%;

.pat-mosaic {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  height: 500vh; // just something likely not too small as initial value.
}
.pat-mosaic__item {
  opacity: 0;
}
.pat-mosaic--layout-done .pat-mosaic__item {
  transition: opacity 0.5s ease;
  opacity: 1;
}

.pat-mosaic__break {
  display: none;
  flex-basis: 100%;
  width: 0;
  margin: 0;
}

.pat-mosaic--3-col {
  .pat-mosaic__item {
    width: @col3-sizer;
    &:nth-child(3n + 1) {
      order: 1;
    }
    &:nth-child(3n + 2) {
      order: 2;
    }
    &:nth-child(3n) {
      order: 3;
    }
  }
  .pat-mosaic__break {
    &:nth-of-type(1),
    &:nth-of-type(2) {
      display: block;
    }
  }
}

.pat-mosaic {
  .pat-mosaic--3-col; // default layout
}
